.client {
    background-color: lightblue;
}

.supplier {
    background-color: lightcoral;
}


.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    min-width: 200px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 8px black;
}


.photo {
    max-width: 150px;
}

.photo img {
    width: 100%;
    border-radius: 100px;
    border: 3px solid black;
}

.card ul {
    padding: 0 20px;
}

.card li {
    list-style-type: none;
}

h3, h4 {
    margin: 10px;
    padding: 0px;
}

h4 {
    font-weight: normal;
}


