<h2>
    Détails du {{ contact.contactType }} :
</h2>

<div class="card-wrapper" [ngClass]="{
    'supplier' : contact.contactType === 'fournisseur',
    'client' : contact.contactType === 'client'
}">
    <div class="photo">
        <img [src]="contact.photoUrl" alt="Photo de {{ contact.contactName }} {{ contact.firstName }}">
    </div>

    <div class="infos">
        <h3>
            {{ contact.contactName }} {{ contact.firstName }}
        </h3>

        <p *ngIf = "contact.birthDate">
            Né.e le {{ contact.birthDate }} ({{ contact.age }} ans)
        </p>

        <ul>
            <li>
                Téléphone : {{ contact.phone }}
            </li>
            <li>
                E-mail : {{ contact.email }}
            </li>
            <li>
                Adresse : {{ contact.address }}, {{ contact.postcode }} {{ contact.city }}
            </li>
            <li *ngIf = "contact.website">
                Site web : <a [href]="contact.website" target="_blank">{{ contact.website }}</a>
            </li>
        </ul>
    </div>

</div>
